.mainbody {
  background: url('images/mag.jpeg');
  background-size: cover;
  margin-top: 80px;
  /* padding: 30px 100px; */
  font-family: sans-serif;
}
.auth {
  background: url('images/amb2.jpeg');
  background-size: cover;
}
.auth h3 {
  color: white;
  margin: 50px 100px;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
}
.content-wrap {
  min-height: 100%;
}
.main {
  overflow: auto;
  padding-bottom: 300px;
  height: 1500px;
}
.home-page {
  padding: 100px 100px;
}
.home-page p {
  color: white;
  padding-bottom: 200px;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
}
p.one {
  padding-left: 500px;
}
p.two {
  padding-left: 250px;
}
p.three {
  padding-left: 100px;
}
p.four {
  padding-left: 400px;
}
p.five {
  padding-left: 700px;
}
header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
  width: 100%;
  font-family: Satisfy, sans-serif;
  font-weight: bold;
}
header *{
  display: inline;
}
.header-title {
  margin-right: 850px;
  margin-left: 200px;
  font-size: 20px;
  font-style: italic;
}
.header-title a {
  text-decoration: none;
  color: maroon;
}
.header-title a:hover {
  color: black;
}
.fixed-nav ul li {
  margin: 15px;
}
.fixed-nav ul li a {
  text-decoration: none;
  color: black;
}
.fixed-nav ul li a:hover{
  color: maroon;
}
.fixed-nav ul li a:active{
  color: maroon;
}
footer {
  background-color: gray;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  margin-top: -300px;
  position: relative;
  clear: both;
}
footer a {
  text-decoration: none;
  color: white;
}
footer .flex-parent-ft{
  padding: 50px 600px 10px 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  font-family: sans-serif;
  font-weight: bold;
}
footer .flex-parent-ft .flex-child-ft ul {
  list-style: none;
  padding-left: 0;
}
footer .flex-parent-ft .flex-child-ft ul li a:hover{
  color: maroon;
  cursor: pointer;
}
footer .flex-parent-ft .flex-child-ft h4 {
  color: black;
}
.copyright {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
.cases {
  background-color: whitesmoke;
  width: 1100px;
  height: 1360px;
  overflow: auto;
  margin: 80px 350px 0px 350px;
  border: 1px solid silver;
  border-radius: 5px;
}
.cases h2 {
  color: black;
  text-align: center;
  padding-top: 10px;
  color: maroon;
  font-weight: bolder;
}
.incident-table {
  border: 1px solid silver;
  width: 800px;
  height: 500px;
  background-color: white;
  margin: 0px 150px;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 gray;
}
.incident-table tr td{
  border: 1px solid black;
  padding: 4px;
}
.title {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}
.sub-title {
  font-weight: bold;
  font-style: italic;
}
.no-cases {
  color: black;
  margin: 500px 350px;
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
}
.no-cases button {
  border: 2px solid maroon;
  padding: 15px 30px;
  background-color: blueviolet;
  border-radius: 25px;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  color: white;
  outline: none;
  margin-left: 20px;
}
.no-cases button:hover {
  background-color: wheat;
  color: black;
}
.report-form {
  background-color: whitesmoke;
  width: 1100px;
  height: 1360px;
  margin: 80px 350px 0px 350px;
  border: 1px solid silver;
  border-radius: 5px;
}
.report-form h2{
  color: black;
  text-align: center;
  padding-top: 10px;
  color: maroon;
  font-weight: bolder;
}
.form {
  border: 1px solid silver;
  width: 700px;
  height: 1190px;
  margin: 0px 150px;
  padding: 20px 50px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 gray;
}
.form input[type="text"]{
  width: 97%;
  padding: 10px 10px;
  margin-top: 3px;
}
.form input[type="number"]{
  width: 43%;
  padding: 10px 10px;
  margin-top: 3px;
}
.form input[type="date"]{
  width: 43%;
  padding: 10px 10px;
  margin-top: 3px;
  margin-right: 45px;
}
.form input[type="time"]{
  width: 43%;
  padding: 10px 10px;
  margin-top: 3px;
}
.form input[type="submit"]{
  width: 30%;
  padding: 10px 10px;
  margin: 0px 230px;
  border-radius: 25px;
  cursor: pointer;
  background-color: blueviolet;
  color: white;
  border: 1px solid maroon;
  font-weight: bold;
  font-size: 15px;
  outline: none;
}
.form input[type="submit"]:hover{
  background-color: wheat;
  color: black;
}
.form input[type="radio"]{
  margin-top: 6px;
  color: black;
}
.form textarea {
  width: 99%;
  height: 100px;
  margin-top: 3px;
  padding: 3px 3px;
}
.form span {
  color: red;
  font-weight: bold;
}
.auth-forms {
  width: 400px;
  background-color: white;
  padding: 50px;
  margin: 50px 0px 0px 1200px;
  border: 2px solid maroon;
  font-family: sans-serif;
}
.login {
  height: 350px;
}
.signup {
  height: 580px;
}
.auth-forms h2 {
  text-align: center;
  font-size: 30px;
  color: maroon;
  font-weight: bolder;
}
.auth-forms input {
  width: 100%;
  padding: 20px 20px;
  border: 1px solid maroon;
  border-radius: 25px;
  font-size: 15px;
  font-weight: bold;
  background-color: whitesmoke;
  outline: none;
}
.auth-forms input[type="submit"] {
  background-color: blueviolet;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}
.auth-forms p {
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
}
.auth-forms p a {
  text-decoration: none;
  color: black;
}
.auth-forms p a:hover{
  color: maroon;
}
.page_links {
  margin: 30px 400px;
  background-color: white;
  border: 1px solid silver;
  position: absolute;
  width: 300px;
  height: 50px;
  padding: 10px 10px;
}
