body {
  height: 125vh;
  background: url('images/back.jpeg');
  background-size: cover;
  /* font-family: sans-serif; */
  margin-top: 80px;
  padding: 30px 100px;
}
main {
  color: white;
}
header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}
header *{
  display: inline;
}
.header-title {
  margin-right: 850px;
  margin-left: 150px;
}
.header-title a {
  text-decoration: none;
  color: black;
}
.fixed-nav ul li {
  margin: 15px;
}
.fixed-nav ul li a {
  text-decoration: none;
  color: black;
}
footer {
  color: white;
  background-color: gray;
  margin-top: 950px;
  height: 300px;
  /* display: flex;
  bottom: 0;
  left: 0;
  right: 0; */
}
footer .flex-parent-ft{
  padding: 80px 0 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}

